<style>
.abbreviation {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 300px;
	white-space: nowrap;
}

/*
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" media="all" />
*/


body{background-color:#e8feff;
	}


h1{	font-size:40px;
	color:black;
	}
h2#red{color:red;}




table{
	background-color:#b5b3ff;
}

h3{
	font-size:25px;

}
td,th{
	font-size:20px;
}
th{
	background-color:#70ff60;
}
td{
	background-color: rgb(255,255,255);
}

input.button{
	width:50px;
	height:40px;
}


td,th{
  table-layout:fixed;
}
.no{
  width:30px;
}
.name{
  width:100px;
}
.address{
  width:200px;
}

</style>