@(cardList:List[Card])
 @common("感謝カード確認") {
     <h1>感謝カード</h1>
      <h2>集計</h2>
         <form action="index.html" method="POST">

         社員id: <input type="text" id="id" name="id">
         所属部署名: <select name="gender">
                      <option></option>
                      <option value="0">技術部</option>
                      <option value="1">営業部</option>
　　　　　　　　　　　<option value="2">人事部</option>
                  </select>
           ユーザ名: <input type="text" id="name" name="name">
            <input type="submit" value="集計"><input type="reset" value="リセット">
            </form>
@if(cardList.isEmpty()) {
         感謝カード は一件もありません
     } else {
     <table border="2">
     <tr>
     <th rowspan="2">
    	日付
     </th>
     <th colspan="2">
     	感謝された人
     </th>
     <th rowspan="2">
    	感謝内容
     </th>
     <th rowspan="2">感謝ポイント</th>
     <th colspan="2">感謝する人</th>
     </tr>
     <tr>
     <th>部署</th>
     <th>名前</th>
     <th>部署</th>
     <th>名前</th>
     </tr>
        @for(card <- cardList) {
        <tr>
         <td>@card.helped_date</td>
         <td>@card.get_staff_id</td>
         <td>@card.get_staff_id</td>
         <td>@card.help_detail</td>
         <td>@card.point</td>
         <td>@card.send_staff_id</td>
         <td>@card.send_staff_id</td>
        </tr>
        }
        </table>
     }
    }