@(departmentList:List[Department],categoryList:List[Category],staffList:List[Staff])


<html lang="jp">
<head>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" media="all" />
<script type = "text/javascript">
function functionName()
{
var select1 = document.forms.formName.selectName1; //変数select1を宣言
var select2 = document.forms.formName.selectName2; //変数select2を宣言
var num = 0;
select2.options.length = 0; // 選択肢の数がそれぞれに異なる場合、これが重要

		@for(sta <- staffList){
			if (select1.options[select1.selectedIndex].value == "@sta.department.department_id"){
				select2.options[num] = new Option("@sta.staff_name");
				num++;
			}
		}
}
</script>
</head>
<body  onLoad="functionName()"">
			<h1 align="center">感謝カード入力画面</h1>
			<table border="2" width="50%" align="center">

			<td align="center">
				<p></p>
				<form name="formName" action="@routes.Input.createCard()" method="POST">
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp部署：<select name = "selectName1" onChange="functionName()">
       @for(dep <- departmentList) {
       <option value="@dep.department_id" >@dep.department_name</option>
       }
</select>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp感謝された人：<select name = "selectName2"></select><br>
					&nbsp&nbspカテゴリ:
					<SELECT name="category_id">
					@for(cate <- categoryList){
						<OPTION value=@cate.category_id>@cate.category_name</OPTION>
					}
					</SELECT>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

					感謝ポイント: <SELECT name="point">
						<OPTION value="1">業務外</OPTION>
						<OPTION value="2">業務優先低</OPTION>
						<OPTION value="3">業務優先高</OPTION>
					</SELECT><br>
					<p>
						&nbsp&nbspヘルプ内容詳細<br> &nbsp&nbsp
						<textarea name="help_detail" rows="4" cols="50">○○なときに××なことを手伝っていただきました。</textarea>
						<br>
					</p>
					<p>
						&nbsp&nbsp感謝の言葉<br>&nbsp&nbsp
						<textarea name="thanks_word" rows="4" cols="50">手伝っていただきありがとうございました。</textarea>
						<br>
					</p>
					&nbsp&nbsp助けられた日付: <input type="date" name="helped_date" /><br>
					<div align="center">
						<input type="submit" value="登録" />
					</div>
				</form>
			</td>
		</tr>
	</table>
	<table align="right">
<tr><td><a href="/mypage">マイページに戻る</a></td></tr>
</table>
</body>
</html>