@(departmentList:List[Department],categoryList:List[Category])


<html lang="jp">
<head>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" media="all" />
</head>
<body>
			<h1 align="center">感謝カード入力画面</h1>
			<table border="2" width="50%" align="center">

			<td align="center">
				<p></p>
				<form action="@routes.Input.createCard()" method="POST">
					&nbsp&nbsp助けられた人&nbsp コード: <input type="text" name="get_staff_id" />&nbsp&nbsp&nbsp&nbsp&nbsp
					所属部署名:
					<Select name="dep">
					@for(depart <- departmentList) {
						<option value="@depart.department_id">@depart.department_name</oprion>
					}
					</Select><br>
					<p></p>
					&nbsp&nbspカテゴリ:
					<SELECT name="category_id">
					@for(cate <- categoryList){
						<OPTION value=@cate.category_id>@cate.category_name</OPTION>
					}
					</SELECT>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

					感謝ポイント: <SELECT name="point">
						<OPTION value="1">業務外</OPTION>
						<OPTION value="2">業務優先低</OPTION>
						<OPTION value="3">業務優先高</OPTION>
					</SELECT><br>
					<p>
						&nbsp&nbspヘルプ内容詳細<br> &nbsp&nbsp
						<textarea name="help_detail" rows="4" cols="50">○○なときに××なことを手伝っていただきました。</textarea>
						<br>
					</p>
					<p>
						&nbsp&nbsp感謝の言葉<br>&nbsp&nbsp
						<textarea name="thanks_word" rows="4" cols="50">手伝っていただきありがとうございました。</textarea>
						<br>
					</p>
					&nbsp&nbsp助けられた日付: <input type="date" name="helped_date" /><br>
					<div align="center">
						<input type="submit" value="登録" /> <input type="button"
							onclick="location.href=" '@routes.Input.input()'" value="戻る" />
					</div>
				</form>
			</td>
		</tr>
	</table>
	<!-- マイページへのリンク
	<td><a href="@routes.Authentication.authenticate()">入力画面</a></td>
	-->
</body>
</html>