@(loginForm: Form[Staff])

@import helper._

<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  @form(routes.Authentication.authenticate) {
    <h1>Sign in</h1>
    @if(loginForm.hasGlobalErrors) {
    <p class="error">
        @loginForm.globalError.message
        <meta http-equiv="REFRESH" content="3">
    </p>
    }
    @inputText(loginForm("name"))
    @inputPassword(loginForm("password"))

    <p>
      <button type="submit">Login</button>
    </p>

  }
</body>
</html>

