@(cardList: List[Card], staffList: List[Staff],username:String,mycardList:List[Card])


<HTML>

  <HEAD>
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/mypage.css")" media="all" />
  </HEAD>

  <BODY>
<h1 align="center">マイページ</h1>

	@session.get("login")
	@username さん、ようこそ!<br>

			<tr>
				<td><a href="@routes.Input.input()">入力画面</a></td>
				<td></td>
				<td><a href="pass_change.html">パスワード変更画面</a></td>
				<td><a href="@routes.Search.search()">検索画面</a></td>

				<td><a href="">管理者メニュー</a></td>
				<td><a href="@routes.Authentication.logout">ログアウト</a></td>
			</tr>
		</table>
	</div>

<h3 align="center">代表事例</h3>
	<div style="height: 100px; width: 900px; overflow-y: scroll;margin-left:auto;margin-right:auto;">
		<table border="1" align="center"  width=100%>
			<tr>
				<th>日付</th>
				<th>部署</th>
				<th>名前</th>
				<th>ヘルプ詳細内容</th>
				<th>感謝の言葉</th>
				<th>部署</th>
				<th>名前</th>
			</tr>
			@for(card <- mycardList) {
			<tr>
				<td class="date">@card.helped_date</td>
				<td class="depart">@card.send_staff.department.department_name</td>
				<td class="name">@card.send_staff.staff_name</td>
				<td class="help">@card.help_detail</td>
				<td class="help">@card.thanks_word</td>
				<td class="depart">@card.get_staff.department.department_name</td>
				<td class="name">@card.get_staff.staff_name</td>
			</tr>
			}
		</table>
	</div>

<h3 align="center">@username さん宛の感謝カード</h3>
	<div style="height: 100px; width: 900px; overflow-y: scroll;margin-left:auto;margin-right:auto;">
		<table border="1" align="center" width=100%>
			<tr>
				<th>日付</th>
				<th>部署</th>
				<th>名前</th>
				<th>ヘルプ詳細内容</th>
				<th>感謝の言葉</th>
				<th>部署</th>
				<th>名前</th>
			</tr>
			@for(card <- mycardList) {
			<tr>
				<td class="date">@card.helped_date</td>
				<td class="depart">@card.send_staff.department.department_name</td>
				<td class="name">@card.send_staff.staff_name</td>
				<td class="help">@card.help_detail</td>
				<td class="help">@card.thanks_word</td>
				<td class="depart">@card.get_staff.department.department_name</td>
				<td class="name">@card.get_staff.staff_name</td>
			</tr>
			}
		</table>
	</div>

<h3 align="center">掲示板</h3>
	<div style="height: 200px; width: 900px; overflow-y: scroll;margin-left:auto;margin-right:auto;">
		<table border="1" align="center" width=100%>
			<tr>
				<th>日付</th>
				<th>部署</th>
				<th>名前</th>
				<th>ヘルプ詳細内容</th>
				<th>感謝の言葉</th>
				<th>部署</th>
				<th>名前</th>
			</tr>
			@for(card <- cardList) {
			<tr>


				<script>
					var d= new Date(@card.helped_date));

				</script>
				<td class="depart">@card.send_staff.department.department_name</td>
				<td class="name">@card.send_staff.staff_name</td>
				<td class="help">@card.help_detail</td>
				<td class="help">@card.thanks_word</td>
				<td class="depart">@card.get_staff.department.department_name</td>
				<td class="name">@card.get_staff.staff_name</td>
			</tr>
			}
		</table>
	</div>
	</BODY>

</HTML>
