@(name:String)
	@common("マイページ"){
		<h1 align="center">マイページ</h1>
		<table>
		<th>@session.get("name")</th>
		<td>さん、いらっしゃい</td>


		<form>
		<div align="right">
			<table border="0" style="padding:0% 20% 0% 0%;">

					<tr>
						<td>
						<a href="@routes.Input.input()">入力画面</a></td>
						<td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td>
						<a href="@routes.Search.search()">検索画面</a></td>
						<td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td>
						<a href="pass_change.html">パスワード変更画面</a>
						</td><td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td>
							<a href="">管理者メニュー</a>
							</td><td><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td>
							<a href="@routes.Application.logout">ログアウト</a>

						</td>
					</tr>
			</table>
			</div>
			</form>
	}